if TARGET_AESYS_2409A

config SYS_BOARD
	default "aesys_2409a"

config SYS_VENDOR
	default "aesys"

config SYS_CONFIG_NAME
	default "aesys_2409a"

config IMX_CONFIG
	default "board/aesys/aesys_2409a/aesys_2409a-lpddr4.cfg"

endif
