// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "aesys_2414.dtsi"

/ {
	model = "AESYS 2414A+2501A";
};

&i2c5 {
	i2c_temp: temp@48 {
		compatible = "ti,tmp1075";
		reg = <0x48>;
	};
};
