# COMMON
CONFIG_OVERLAY_FS=y
CONFIG_EXPERT=y
CONFIG_GPIO_SYSFS=y
CONFIG_AUDIT=
CONFIG_LOCALVERSION="-gemini-2024.1"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_AUFS_FS=y

# COMMON (requested for supporting UFW)
CONFIG_NETFILTER_XT_MATCH_HASHLIMIT=y
CONFIG_NETFILTER_XT_MATCH_LIMIT=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=y
CONFIG_IP6_NF_MATCH_HL=y
CONFIG_IP6_NF_MATCH_RT=y

# AESYS 2319A SUPPORT
CONFIG_BROADCOM_PHY=y
CONFIG_BCM54140_PHY=y
CONFIG_BCM_NET_PHYLIB=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_IMX_SDMA=m
CONFIG_CFG80211=m
CONFIG_DRM_PANEL_DISEN_DS070BOE30T=y
CONFIG_TOUCHSCREEN_GOODIX=y

# AESYS 2409A SUPPORT
CONFIG_EEPROM_AT24=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_SENSORS_MCP3021=y
CONFIG_SENSORS_LM75=y
CONFIG_DRM_PANEL_DISEN_DS070BOE30T=y

# AESYS 2414 SUPPORT
CONFIG_EEPROM_AT24=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_OPT3001=y
CONFIG_DRM_PANEL_DISEN_DS070BOE30T=y

# AESYS 2415A SUPPORT
CONFIG_SND_SOC_WM8524=y

# AESYS 2415B SUPPORT
CONFIG_SND_SOC_SGTL5000=y

# AESYS 2501A SUPPORT
CONFIG_SND_SOC_WM8524=y

# AESYS 2501B SUPPORT
CONFIG_SND_SOC_SGTL5000=y

# AESYS 2511A SUPPORT
CONFIG_AD799X=y
CONFIG_SENSORS_INA2XX=y


