// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "aesys_2414_2g.dtsi"

/ {
	model = "AESYS 2414B+2501B";

    reg_sound_1p8_vddd: regulator-sound-1p8-vddd {
        compatible = "regulator-fixed";
        regulator-always-on;
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-name = "SOUND_1P8_VDDD";
	};

    reg_sound_3p3_vdda: regulator-sound-3p3-vdda {
        compatible = "regulator-fixed";
        regulator-always-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-name = "SOUND_3P3_VDDA";
	};

    reg_sound_3p3_vddio: regulator-sound-3p3-vddio {
        compatible = "regulator-fixed";
        regulator-always-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-name = "SOUND_3P3_VDDIO";
	};

    sound-sgtl5000 {
        #address-cells = <1>;
	    #size-cells = <0>;

		compatible = "simple-audio-card";
		simple-audio-card,name = "SGTL5000-Card";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&cpu_dai>;
		simple-audio-card,frame-master = <&cpu_dai>;
		simple-audio-card,widgets = "Headphone", "Headphone Jack",
                                    "Lineout", "Lineout Jack";
		simple-audio-card,routing = "Headphone Jack", "HP_OUT",
                                    "Lineout Jack", "LINE_OUT";
        status = "okay";

		cpu_dai: simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		codec_dai: simple-audio-card,codec {
			sound-dai = <&i2c_sgtl5000>;
            clocks = <&sai1 1>;
		};
	};
};

&ethphy0 {
    max-speed = <100>;
};

&ethphy1 {
    max-speed = <100>;
};

&i2c5 {
	i2c_temp: temp@48 {
		compatible = "ti,tmp1075";
		reg = <0x48>;
	};

    i2c_sgtl5000: sgtl5000 {
        #sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&sai1 1>;
        VDDD-supply = <&reg_sound_1p8_vddd>;
        VDDA-supply = <&reg_sound_3p3_vdda>;
        VDDIO-supply = <&reg_sound_3p3_vddio>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_gpios &pinctrl_pin_hwrev_gpios &pinctrl_pin_gpios &pinctrl_pin_gpios_2501>;

	pinctrl_pin_gpios_2501: pin_gpios_2501 {
		fsl,pins = <
        MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05      0x00000006   	// TEMP_SENS_nINT
		MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29        0x00000006		// GNSS_nRESET
		>;
	};
};