[Unit]
Description=Aesys device raise-hand service

[Service]
Type=simple
ExecStart=/sbin/raise-hand.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target