if TARGET_AESYS_2414A

config SYS_BOARD
	default "aesys_2414a"

config SYS_VENDOR
	default "aesys"

config SYS_CONFIG_NAME
	default "aesys_2414a"

config IMX_CONFIG
	default "board/aesys/aesys_2414a/aesys_2414a-lpddr4.cfg"

endif
