[Unit]
Description=Aesys managed boot.mount (inject LazyUnmount)

[Mount]
What=/dev/mmcblk1p1
Where=/boot
LazyUnmount=true

[Install]
WantedBy=multi-user.target
