[Unit]
Description=Aesys first boot initialization procedure
After=multi-user.target sshdgenkeys.service

# Start only if required
ConditionPathExists=/data/.sys/firstinit.pending

[Service]
Type=oneshot
ExecStart=/sbin/aesys-firstinit.sh

[Install]
WantedBy=default.target
