[Unit]
Description=Aesys first boot initialization procedure
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
After=local-fs.target first-boot-complete.target
ConditionPathExists=/var/aesys/firstinit.pending

[Service]
Type=oneshot
ExecStart=/sbin/aesys-firstinit.sh

[Install]
WantedBy=multi-user.target
