# COMMON
CONFIG_OVERLAY_FS=y
CONFIG_EXPERT=y
CONFIG_GPIO_SYSFS=y
CONFIG_AUDIT=n
CONFIG_LOCALVERSION="-gemini-2024.1"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_AUFS_FS=y
CONFIG_SQUASHFS=y

# COMMON (requested for supporting UFW)
CONFIG_NETFILTER_XT_MATCH_HASHLIMIT=y
CONFIG_NETFILTER_XT_MATCH_LIMIT=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=y
CONFIG_IP6_NF_MATCH_HL=y
CONFIG_IP6_NF_MATCH_RT=y

# COMMON (requested for supporting EFI)
CONFIG_FB_EFI=y
CONFIG_FB_VESA=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# COMMON (requested for supporting VirtualBox)
CONFIG_SYSFB=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_VBOXVIDEO=y



